/*Style for Portfolio*/

body {
    background: linear-gradient(135deg, #49eec8 0%,#52d2f0 100%);
}

.logo-image {
    width: 200px;
    height: 100px;
    overflow: hidden;
    margin-top: 8px;
}

#navbarNav {
    font-size: 30px;
    margin-left: auto;
    font-family: 'Playfair Display SC', sans-serif;
}

.container {
    font-family: 'Playfair Display SC', sans-serif;
}

.header {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Playfair Display SC', sans-serif;
}

p {
    background: white;

}

/* font family styles: 
font-family: 'Rokkitt', serif;
font-family: 'Special Elite', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Philosopher', sans-serif;*/